<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list_instance.name }}</h1>
                <div>
                    <p>
                        <a href="{% url "todo_list_update" todo_list_instance.id %}">Edit</a>
                    </p>
                    <p>
                        <a href="{% url "todo_list_delete" todo_list_instance.id %}">Delete</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list_instance.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url "todo_item_update" item.pk %}">{{ item.task }}</a>
                                </td>
                                <td>{{ item.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
